node_modules
addons
bdsx
example_and_test
plugin-example
bedrock_server
/PinozenTH Modules/unRegisteredProject/*
npm-debug.log
pdbcache_by_example.ini
plugins
scriptData
*.bat
*.sh
CONTRIBUTING.md
launcher.ts
pdbcache.ini
pdbcache_by_example.ini
LICENSE.txt
*.d.ts
*.ini
*.js