node_modules
/bedrock_server/*
/npm-debug.log
/pdbcache_by_example.ini
*.js
/bdsx/*
/plugin-example/package-lock.json
.eslintrc.json
/.github/*
/.vscode/*
bdsx(pause at end).bat
bdsx.bat
bdsx.sh
CONTRIBUTING.md
/example_and_test/*
launcher.ts
/plugin-example/*
/plugins/*
plugin-manager.bat
plugin-manager.sh
tsconfig.json
update.bat
update.sh
/addons/*
